# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
package-lock.json
/node_modules
/.pnp
.pnp.js

# Build
/build
/build-ts
/build-dev

# Logging
/logs/*

# File level blocking
/blocks/*

# Simulation
/candlestore/*
/simulation/*

# Configuration
/settings/*