[Unit]
Description=Hoobot Service

[Service]
Type=simple
Environment=PATH=$HOME/.nvm/versions/node/v20.10.0/bin/:/usr/local/bin:/usr/bin:/bin
ExecStart=$HOME/.nvm/versions/node/v20.10.0/bin/npm run start
WorkingDirectory=%h/hoobot-dev
Restart=always

[Install]
WantedBy=default.target