[Unit]
Description=Hoobot Service

[Service]
Type=simple
Environment=PATH=%h/.nvm/versions/node/v18.17.0/bin/:/usr/local/bin:/usr/bin:/bin
ExecStart=%h/.nvm/versions/node/v18.17.0/bin/npm run start:nopm2
WorkingDirectory=%h/Repos/Hoobot
Restart=always

[Install]
WantedBy=default.target